/* css style reset start */

* {
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
}

html {
    -webkit-text-size-adjust: 100%;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td,
a,
img,
span,
i {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'microsoft yahei';
    font-size: 14px;
    color: #333;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset,
img {
    border: none;
    outline: none;
    -webkit-touch-callout: none;
}

img:not([src]),
img[src=""] {
    opacity: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
    font-weight: normal;
    font-style: normal;
}

ol,
ul {
    list-style: none;
}

caption,
th {
    text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

q:before,
q:after {
    content: "";
}

abbr,
acronym {
    border: 0;
}

a {
    color: #1e1e1e;
    text-decoration: none;
    border: 0;
    outline: none;
    -webkit-touch-callout: none;
}

input[type=text], input[type=password], input[type=file],
button,
textarea {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    outline: 0;
    border: 0;
    font-family: 'microsoft yahei';
}

select {
    outline: 0;
    border: 0;
    font-family: 'microsoft yahei';
}

select::-ms-expand {
    display: none;
}

input::-webkit-input-placeholder {
    color: #bebebe;
}

input::-moz-placeholder {
    color: #bebebe !important;
}

input:-ms-placeholder {
    color: #bebebe !important;
}

textarea {
    outline: none;
    resize: none;
    overflow: hidden;
    border: 0;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.clearfix:after {
    content: "\200B";
    display: block;
    width: 0;
    height: 0;
    clear: both;
}

table thead tr {
    font-family: STHeitiSC-Light;
    font-size: 14px;
    height: 40px;
}

table tbody tr {
    position: relative;
    font-size: 14px;
    color: #252525;
}

table tbody tr td {
    position: relative;
    /*height: 40px;*/
    line-height: 50px;
    color: #252525;
}

table tbody.c-list tr {
    cursor: pointer;
}

table tbody.c-list tr:hover {
    background-color: #f8fafb;
}

table tbody.c-list tr:hover td:first-child::before {
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    width: 4px;
    height: 40px;
    background-color: #2873e5;
}

table thead tr th {
    /*padding-top: 15px;*/
    color: #ffffff;
    padding-left: 20px;
}

table tbody tr td {
    padding-left: 20px;
    border-top: 1px solid #dddddd;
}

table tr .operation {
    padding-left: 0;
    text-align: center;
}

.c-search-nodata {
    text-align: center;
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 12px;
    color: #333333;
    border-top: 1px solid #e1e1e1;
}

.btnCommon {
    background-color: #319eeb;
    color: #ffffff;
}

/* flex */

.blue {
    color: #277cdc;
}

.bgInputGray {
    background-color: #fbfbfb;
    border: 1px solid #e3e3e3;
    height: 32px;
    border-radius: 4px;
    line-height: 32px;
}

.bgInputGray:hover {
    border: 1px solid #c6c6c6;
}

.bgInputGray:focus {
    border: 1px solid #2370e4;
}

.bgInputWhite {
    background-color: #fff;
    border: 1px solid #c6c6c6;
    height: 42px;
    width: 300px;
    border-radius: 21px;
    line-height: 42px;
}

.bgInputWhite:hover {
    border: 1px solid #969696;
}

.bgInputWhite:focus {
    border: 1px solid #119a49;
}

.inputCommon {
    min-width: 100px;
    height: 32px;
    border-radius: 4px;
    border: solid 1px #2291e0;
    padding-left: 10px;
    background-color: #fff;
    margin-bottom: 0;
}

/*.selectCommon {
    background: url(../../images/icon/select_arrow.png) no-repeat center right 12px;
}*/

.mr10 {
    margin-right: 10px;
}

.mr20 {
    margin-right: 20px;
}

.mr40 {
    margin-right: 40px;
}

.mt10 {
    margin-top: 10px;
}

.mt15 {
    margin-top: 15px;
}

.mt20 {
    margin-top: 20px;
}

.mt40 {
    margin-top: 40px;
}

.ml10 {
    margin-left: 10px;
}

.ml20 {
    margin-left: 20px;
}

.ml40 {
    margin-left: 40px;
}

.pl10 {
    padding-left: 10px;
}

.pr10 {
    padding-right: 10px;
}

.pd {
    padding: 15px 20px;
}

.w100 {
    width: 100px;
}

.w90 {
    width: 90px;
}

.w80 {
    width: 80px;
}

.w70 {
    width: 70px;
}

.minW180 {
    min-width: 180px;
}

.minW100 {
    min-width: 100px;
}

.tlCenter {
    text-align: center;
}

.tlRight {
    text-align: right;
}

.tlLeft {
    text-align: left;
}

.c-select {
    position: relative;
    min-width: 50px;
}

/*.c-select .c-select-gray {
    border-radius: 4px;
    line-height: 32px;
    border: solid 1px #2291e0;
    height: 32px;
    padding-left: 10px;
    background: url("../../images/icon/select_arrow.png") no-repeat center right 12px;
    cursor: pointer;
}

.c-select .c-select-gray:focus {
    border: 1px solid #2370e4;
}

.c-select .c-select-white {
    border: 1px solid #c6c6c6;
    height: 42px;
    width: 100%;
    border-radius: 21px;
    line-height: 42px;
    padding-left: 30px;
    background: url("../../images/icon/select_arrow.png") no-repeat 16px;
    background-color: #fff;
}*/

.c-select .c-select-white:focus {
    border: 1px solid #3493EF;
}

.c-select .c-option-box {
    position: absolute;
    display: none;
    min-width: 100%;
    z-index: 1;
    -webkit-box-shadow: 0 3px 2px 2px #ccc;
    box-shadow: 0 3px 2px 2px #ccc;
    background: #fff;
    max-height: 280px;
    overflow: auto !important;
}

.c-select .c-option-box .c-option {
    padding-left: 30px;
    padding-right: 20px;
    word-break: keep-all;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
}

.c-select .c-option-box .c-option:hover {
    background-color: #E4E7EB;
}

.c-select .c-ztree-list {
    position: absolute;
    display: none;
    min-width: 100%;
    z-index: 1;
    -webkit-box-shadow: 0 3px 2px 2px #ccc;
    box-shadow: 0 3px 2px 2px #ccc;
    background: #fff;
    max-height: 280px;
    overflow: auto !important;
}

.c-select .c-option-graytop {
    top: 33px;
}

.c-select .c-option-whitetop {
    top: 43px;
}

input.radioSelect {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: solid 1px #8aa0c5;
}

input.radioSelect[type="radio"]:checked:after {
    display: block;
    content: "";
    width: 10px;
    height: 10px;
    background-color: #2291e0;
    border: solid 1px #2391e0;
    border-radius: 50%;
    margin: 2px auto;
}

input.checkboxSelect {
    width: 18px;
    height: 18px;
    border: solid 1px #e1e5f1;
}

input.checkboxSelect[type="checkbox"]:checked:after {
    display: block;
    content: "";
    width: 8px;
    height: 8px;
    background-color: #2370e4;
    margin: 4px auto;
}

input.tableCheckbox {
    width: 14px;
    height: 14px;
    border: solid 1px #319eeb;
}

input.tableCheckbox[type="checkbox"]:checked:after {
    display: block;
    content: "";
    width: 8px;
    height: 8px;
    background-color: #2370e4;
    margin: 2px auto;
}

.c-button-1 {
    display: inline-block;
    background: #fff;
    border: 1px solid #e6e6e6;
    padding: 0 20px;
    border-radius: 16px;
    font-size: 14px;
    line-height: 32px;
    min-width: 88px;
    height: 32px;
    text-align: center;
    color: #333;
    cursor: pointer;
}

.c-button-1:hover {
    color: #2370e4;
}

.c-button-1:active {
    color: #2370e4;
}

.c-button-2 {
    display: inline-block;
    background: #2370E4;
    padding: 0 20px;
    border-radius: 16px;
    font-size: 14px;
    line-height: 32px;
    min-width: 88px;
    height: 32px;
    text-align: center;
    color: #fff;
    cursor: pointer;
}

.c-button-2:hover {
    background: #1660cf;
}

.c-button-2:active {
    background: #1660cf;
}

.c-button-3 {
    width: 300px;
    height: 40px;
    line-height: 40px;
    background: #2370E4;
    border-radius: 20px;
    font-size: 14px;
    text-align: center;
    color: #fff;
    cursor: pointer;
}

.c-button-3:hover {
    background: #225DB6;
}

.c-button-3:active {
    background: #225DB6;
}

.c-table-btn1 {
    display: inline-block;
    font-size: 14px;
    width: auto;
    min-width: 56px;
    height: 24px;
    line-height: 24px;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
    background-color: #2cb878;
    border-radius: 4px;
    color: #fff;
}

.c-table-btn2 {
    display: inline-block;
    font-size: 14px;
    width: auto;
    height: 24px;
    background-color: #ff902d;
    border-radius: 4px;
    padding-left: 8px;
    padding-right: 8px;
    line-height: 24px;
    text-align: center;
    color: #fff;
}

.c-table-btn3 {
    display: inline-block;
    padding: 9px 20px;
    font-size: 14px;
    line-height: 14px;
    color: #fff;
    background-color: #319eeb;
    border-radius: 4px;
}

.c-disabled-btn {
    background-color: #ccc;
    cursor: not-allowed;
}

.c-search-button {
    width: 66px;
    height: 32px;
    line-height: 32px;
    background-color: #319eeb;
    border-radius: 4px;
    color: #fff;
    text-align: center;
    cursor: pointer;
}

.c-search-button:hover,
.c-search-button:active {
    color: #fff;
    text-decoration: none;
}

.flex,
#Layer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.flex_hor_center,
#Layer {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.flex_ver_center,
#Layer {
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-grid-row-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.flex_center,
.layer-title-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.flex_around {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.flex_start {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.flex_end,
.layer-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.flex_wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.flex_column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -moz-flex-direction: column;
    flex-direction: column;
}

.flex-1 {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
}

.flex-2 {
    -webkit-box-flex: 2;
    -ms-flex: 2;
    flex: 2;
    -ms-flex-negative: 2;
    flex-shrink: 2;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
}

.flex-3 {
    -webkit-box-flex: 3;
    -ms-flex: 3;
    flex: 3;
    -ms-flex-negative: 3;
    flex-shrink: 3;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
}

.flex-4 {
    -webkit-box-flex: 4;
    -ms-flex: 4;
    flex: 4;
    -ms-flex-negative: 4;
    flex-shrink: 4;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
}

.flex-5 {
    -webkit-box-flex: 5;
    -ms-flex: 5;
    flex: 5;
    -ms-flex-negative: 5;
    flex-shrink: 5;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
}

.flex-6 {
    -webkit-box-flex: 6;
    -ms-flex: 6;
    flex: 6;
    -ms-flex-negative: 6;
    flex-shrink: 6;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
}

.flex-7 {
    -webkit-box-flex: 7;
    -ms-flex: 7;
    flex: 7;
    -ms-flex-negative: 7;
    flex-shrink: 7;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
}

.flex-8 {
    -webkit-box-flex: 8;
    -ms-flex: 8;
    flex: 8;
    -ms-flex-negative: 8;
    flex-shrink: 8;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
}

.flex-9 {
    -webkit-box-flex: 9;
    -ms-flex: 9;
    flex: 9;
    -ms-flex-negative: 9;
    flex-shrink: 9;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
}

.flex-10 {
    -webkit-box-flex: 10;
    -ms-flex: 10;
    flex: 10;
    -ms-flex-negative: 10;
    flex-shrink: 10;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
}

.flex-11 {
    -webkit-box-flex: 11;
    -ms-flex: 11;
    flex: 11;
    -ms-flex-negative: 11;
    flex-shrink: 11;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
}

.flex-12 {
    -webkit-box-flex: 12;
    -ms-flex: 12;
    flex: 12;
    -ms-flex-negative: 12;
    flex-shrink: 12;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
}

/* loading start */

.loading {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 9999;
    background: rgba(242, 242, 242, 0.6);
}

/*.loading div {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 120px;
    margin-top: -60px;
    background: url("../../images/icon/ad_loading.gif") no-repeat center center;
    background-size: 40px 40px;
}*/

/* .loading .bgGif {
width: 1.6rem;
height: 1.46rem;
position: absolute;
top: .3rem;
left: 2rem;
background: url("../../images/other/loading.gif") no-repeat;
background-size: cover;
}
.loading span {
position: absolute;
top: .89rem;
left: 3.6rem;
width: 1.38rem;
height: .31rem;
background: url("../../images/other/loading-text.gif") no-repeat;
background-size: cover;
} */
/* loading end */

.c-no-data {
    display: none;
}

/* @import "leftMenu"; */

html {
    height: 100%;
}

body {
    height: 100%;
}

.wrap {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    min-width: 814px;
    height: 100%;
    overflow: auto;
}

.c-wrap {
    margin: 14px 14px 0 14px;
}

.c-white-bg {
    background-color: #fff;
}

.c-gray-bg {
    background-color: #ebebeb;
    padding: 5px;
}

.c-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 62px;
    border-bottom: 1px solid #e9eff5;
}

.c-header-nav ul {
    height: 100%;
    padding-right: 24px;
}

.c-header-nav li {
    width: auto;
    font-size: 14px;
    line-height: 61px;
}

.c-header-nav .c-splicer {
    display: inline-block;
    width: 1px;
    height: 24px;
    background-color: #dcdcdc;
    margin-left: 15px;
}

.c-header-nav li i {
    width: 26px;
    height: 26px;
    margin-right: 10px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.c-header-nav li .userName {
    color: #277cdc;
}

/*.c-header-nav li .help {
    background: url("../../images/icon/help.png") no-repeat;
}

.c-header-nav li .map {
    background: url("../../images/icon/map.png") no-repeat;
}

.c-header-nav li .logout {
    background: url("../../images/icon/logout.png") no-repeat;
}*/

.c-header-nav li:not(:first-child) {
    margin-left: 39px;
    cursor: pointer;
}

.c-header-nav li:not(:first-child):hover {
    color: #2370e4;
}

.c-header-nav li:nth-child(2) {
    margin-left: 24px;
}

.c-body {
    /* flex:1; */
    height: 100%;
}

.c-body-left {
    position: relative;
    height: 100%;
}

.c-body-right {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: 100%;
    min-width: 768px;
    background-color: #F1F4F9;
    overflow: auto;
    /* 	padding-top: 49px; */
}

.c-body-header {
    /* position: absolute;
width: 100%;
top: 0; */
    height: 49px;
    padding-left: 40px;
    padding-right: 24px;
    padding-top: 10px;
    display: none;
    background-color: #e9eff5;
}

.c-body-header span {
    display: inline-block;
}

.c-body-header .dot {
    position: absolute;
    left: 24px;
    top: 27px;
    width: 6px;
    height: 6px;
    background: #2370e4;
}

.c-body-header .titleName {
    font-size: 16px;
}

.c-body-header .c-body-hierarchy {
    font-size: 12px;
}

.c-body-header .c-body-hierarchy .itemName {
    color: #bcbcbc;
}

.c-body-header .c-body-hierarchy .itemName:hover {
    color: #277cdc;
}

.c-body-header .c-body-hierarchy .c-gt {
    color: #bcbcbc;
    font-size: 14px;
    font-family: "symbol";
}

.c-body-header .c-body-hierarchy .c-currentName {
    color: #277cdc;
    margin-right: 5px;
}

.c-body-content {
    min-height: 100%;
    padding: 12px;
}

.c-footer {
    height: 49px;
    background: #1e2d48;
    margin-top: -49px;
}

.c-footer ul {
    height: 49px;
    /* height: 100%; */
}

.c-footer ul a {
    color: #ccc;
    font-size: 14px;
}

.c-footer ul li:not(:last-child) {
    margin-right: 20px;
}

.m-group {
    width: 240px;
    background-color: #234373;
    height: 100%;
    overflow: auto;
}

.m-group h1 {
    height: 49px;
    font-size: 16px;
    color: #5db3fc;
    padding: 20px 0 0 24px;
    background-color: #19345a;
}

.m-group .m-group-list {
    height: auto;
}

.m-group .m-group-list h2 {
    position: relative;
    line-height: 50px;
    padding-left: 80px;
    font-size: 16px;
    color: #cacaca;
    cursor: pointer;
    height: 50px;
}

.m-group .m-group-list h2 i {
    position: absolute;
    width: 26px;
    height: 26px;
    vertical-align: middle;
}

/*.m-group .m-group-list h2 .add {
    top: 19px;
    right: 20px;
    width: 12px;
    height: 12px;
    background: url("../../images/icon/leftAdd.png") no-repeat;
}

.m-group .m-group-list h2 .sysIcon0 {
    left: 47px;
    top: 12px;
    background: url("../../images/icon/sysMan.png") no-repeat;
    background-size: contain;
}

.m-group .m-group-list h2 .sysIcon1 {
    left: 47px;
    top: 12px;
    background: url("../../images/icon/dataAna.png") no-repeat;
    background-size: contain;
}*/

/*.m-group .m-group-list h2 .sysIcon2 {
    left: 47px;
    top: 12px;
    background: url("../../images/icon/integrateMan.png") no-repeat center center;
    background-size: 24px 24px;
}*/

.m-group .m-group-list h2:hover {
    color: #fff;
    background-color: #203d67;
}

.m-group .m-group-list .colorh2 {
    color: #fff;
    background-color: #203d67;
}

/*.m-group .m-group-list .colorh2 .add {
    background: url("../../images/icon/leftMinus.png") no-repeat;
}*/

.m-group .m-group-list .childMenu {
    display: none;
    font-size: 16px;
}

.m-group .m-group-list .childMenu > li {
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    overflow: hidden;
}

.m-group .m-group-list .childMenu > li a {
    display: block;
    padding-left: 80px;
    width: 100%;
    background-color: #19345a;
    height: 100%;
    font-size: 14px;
    color: #cacaca;
}

.m-group .m-group-list .childMenu > li a:hover {
    background: #203d67;
    color: #fff;
}

.m-group .m-group-list .childMenu > li[data-checked='true'] a {
    /*color: #fff;
  background-color: #2370e4;*/
}

.foldBar {
    position: absolute;
    top: 0;
    right: -24px;
    width: 24px;
    height: 100%;
}

.foldBar span {
    position: relative;
    z-index: 1;
    display: inline-block;
    width: 16px;
    height: 48px;
    color: #5db3fc;
    text-align: center;
    background-color: #203c66;
    line-height: 24px;
    cursor: pointer;
}

.foldBar span::before {
    position: absolute;
    top: -10px;
    left: 0;
    width: 0;
    height: 0;
    content: "";
    border-left: 8px solid #203c66;
    border-right: 8px solid transparent;
    border-top: 5px solid transparent;
    border-bottom: 5px solid #203c66;
}

.foldBar span::after {
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 0;
    height: 0;
    content: "";
    border-left: 8px solid #203c66;
    border-right: 8px solid transparent;
    border-bottom: 5px solid transparent;
    border-top: 5px solid #203c66;
}

.foldBar span:hover {
    background-color: #2370e4;
    color: #fff;
}

.foldBar span:hover::before {
    border-left: 8px solid #2370e4;
    border-bottom: 5px solid #2370e4;
}

.foldBar span:hover::after {
    border-left: 8px solid #2370e4;
    border-top: 5px solid #2370e4;
}

@media screen and (max-width: 1024px) {
    .m-group {
        width: 220px;
    }

    .m-group h1 {
        padding-left: 14px;
    }

    .m-group .m-group-list h2 {
        padding-left: 70px;
    }

    .m-group .m-group-list h2 .sysIcon0 {
        left: 37px;
    }

    .m-group .m-group-list h2 .sysIcon1 {
        left: 37px;
    }

    .m-group .m-group-list h2 .sysIcon2 {
        left: 37px;
    }

    .m-group .m-group-list .childMenu > li a {
        padding-left: 70px;
    }
}

.c-search {
    height: auto;
}

.c-search-term {
    height: 72px;
    padding: 0px 20px;
    background-color: #fff;
}

.c-search-input {
    position: relative;
    height: 32px;
}

/*.c-search-input .js-search-keyValue {
    background: url("../../images/icon/see_link.png") no-repeat 10px;
    padding-left: 36px;
    width: 250px;
    height: 32px;
}*/

.c-search-input label {
    margin-right: 10px;
    margin-left: 20px;
}

/*.c-search-input #c-date1,
.c-search-input #c-date2 {
    background: #fbfbfb url("../../images/icon/date_icon.png") no-repeat 10px;
    padding-left: 36px;
    width: 130px;
}*/

.c-search-input .c-date-splicer {
    display: inline-block;
    width: 15px;
    height: 2px;
    margin-left: 5px;
    margin-right: 5px;
    vertical-align: middle;
    background-color: #010101;
}

.c-search-date {
    margin-left: 20px;
}

.c-search-button {
    display: inline-block;
    vertical-align: middle;
    width: 58px;
    height: 32px;
    background: #2370e4;
    color: #fff;
    line-height: 32px;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
}

.c-search-toMore {
    border-top: 1px solid #e6e7ed;
    font-size: 14px;
    background-color: #fff;
    /*.c-condition-term:first-child {
    margin-top: 20px;
}
.c-condition-term:last-child {
    margin-bottom: 20px;
}*/
}

.c-search-toMore .c-search-condition {
    text-align: center;
    height: 38px;
    line-height: 38px;
    padding: 0 20px;
    cursor: pointer;
    /* .c-slideUp-icon {
        background: url("../../images/icon/slideUp.png") no-repeat;
    } */
}

.c-search-toMore .c-search-condition i {
    margin-top: 13px;
    width: 12px;
    height: 12px;
    background-size: contain;
    margin-left: 12px;
    vertical-align: middle;
}

/*.c-search-toMore .c-search-condition .c-slideDown-icon {
    background: url("../../images/icon/slideDown.png") no-repeat;
}*/

.c-search-toMore .c-search-condition:hover {
    background-color: #f8fafb;
}

.c-search-toMore .c-search-conBox {
    width: 100%;
    height: auto;
    display: none;
}

.c-search-toMore .c-search-conBox .c-add-box {
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
    background: #fff;
    border-top: 1px solid #e6e7ed;
}

.c-search-toMore .c-search-conBox .c-search-select {
    width: auto;
    color: #666;
    margin-right: 124px;
}

.c-search-toMore .c-search-conBox .c-add-conbutton {
    width: 104px;
    text-align: center;
    margin-left: 20px;
    color: #333;
    cursor: pointer;
}

.c-search-toMore .c-search-conBox .c-add-conbutton:hover {
    color: #2370e4;
}

.c-search-toMore .c-search-conBox .c-add-conbutton:active {
    color: #2370e4;
}

.c-search-toMore .c-condition-box {
    /* padding: 10px 20px 20px 20px; */
    padding-left: 20px;
}

.c-search-toMore .c-condition-term {
    margin-top: 20px;
    -webkit-box-flex: 8;
    -ms-flex: 8;
    flex: 8;
    padding-right: 20px;
}

.c-search-toMore .c-condition-term label {
    margin-left: 20px;
}

/*.c-search-toMore .c-condition-term .c-clearIcon {
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url("../../images/icon/reduce_yellow.png") no-repeat left center;
}*/

.c-search-toMore .c-condition-term .c-lable-table {
    margin-left: 0;
}

.c-search-toMore .c-search-table {
    /* width: 232px; */
    -webkit-box-flex: 3;
    -ms-flex: 3;
    flex: 3;
}

.c-search-toMore .c-search-attribute {
    /* width: 130px; */
    -webkit-box-flex: 3;
    -ms-flex: 3;
    flex: 3;
}

.c-search-toMore .c-search-value {
    -webkit-box-flex: 2;
    -ms-flex: 2;
    flex: 2;
    /* width: 159px; */
}

.c-search-toMore .c-input-value {
    padding-left: 10px;
}

.c-search-toMore input.c-search-value {
    padding-left: 10px;
}

/* .c-search-toMore:hover {
.c-search-condition {
    color: #fe5621;
    .c-slideDown-icon {
        background: url("../../images/icon/slideUp.png") no-repeat;
    }
}
.c-search-conBox {
    display: block;
    padding-bottom: 20px;
}
} */

.c-search-active .c-search-condition .c-slideDown-icon {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    /* background: url("../../images/icon/slideUp.png") no-repeat;	 */
}

.c-search-active .c-search-conBox {
    display: block;
    padding-bottom: 20px;
}

.c-page-view {
    background: #fff;
    color: #9c9c9c;
    font-size: 14px;
    padding-left: 20px;
    padding-right: 20px;
    border-top: 1px solid #e6e7ed;
}

.c-page-view .c-page-border {
    height: 40px;
}

.c-page-view .switchPages {
    width: 55px;
    height: 24px;
    border-radius: 12px;
    text-align: center;
    background-color: #e9eff5;
    vertical-align: middle;
}

.c-page-view .c-page-color {
    color: #fe5621;
    margin-left: 3px;
    margin-right: 3px;
}

.c-page-view .c-Jump {
    margin-left: 16px;
    margin-right: 10px;
    cursor: pointer;
}

.c-page-view .c-Jump:hover {
    color: #2873e5;
}

.c-page-view .c-Jump:active {
    color: #fe5621;
}

.c-page-view .c-page-button span {
    margin-left: 20px;
    cursor: pointer;
}

.c-page-view .c-page-button span:hover {
    color: #2873e5;
}

.c-page-view .c-page-button span:active {
    color: #2873e5;
}

.c-page-view .input-val input {
    margin-right: 5px;
}

/* flex */

.blue {
    color: #277cdc;
}

.bgInputGray {
    background-color: #fbfbfb;
    border: 1px solid #e3e3e3;
    height: 32px;
    border-radius: 4px;
    line-height: 32px;
}

.bgInputGray:hover {
    border: 1px solid #c6c6c6;
}

.bgInputGray:focus {
    border: 1px solid #2370e4;
}

.bgInputWhite {
    background-color: #fff;
    border: 1px solid #c6c6c6;
    height: 42px;
    width: 300px;
    border-radius: 21px;
    line-height: 42px;
}

.bgInputWhite:hover {
    border: 1px solid #969696;
}

.bgInputWhite:focus {
    border: 1px solid #119a49;
}

.inputCommon {
    min-width: 100px;
    height: 32px;
    border-radius: 4px;
    border: solid 1px #119a49;
    padding-left: 10px;
    background-color: #fff;
    margin-bottom: 0;
}

/*.selectCommon {
    background: url(../../images/icon/select_arrow.png) no-repeat center right 12px;
}
*/

.mr10 {
    margin-right: 10px;
}

.mr20 {
    margin-right: 20px;
}

.mr40 {
    margin-right: 40px;
}

.mt10 {
    margin-top: 10px;
}

.mt15 {
    margin-top: 15px;
}

.mt20 {
    margin-top: 20px;
}

.mt40 {
    margin-top: 40px;
}

.ml10 {
    margin-left: 10px;
}

.ml20 {
    margin-left: 20px;
}

.ml40 {
    margin-left: 40px;
}

.pl10 {
    padding-left: 10px;
}

.pr10 {
    padding-right: 10px;
}

.pd {
    padding: 15px 20px;
}

.w100 {
    width: 100px;
}

.w90 {
    width: 90px;
}

.w80 {
    width: 80px;
}

.w70 {
    width: 70px;
}

.minW180 {
    min-width: 180px;
}

.minW100 {
    min-width: 100px;
}

.tlCenter {
    text-align: center;
}

.tlRight {
    text-align: right;
}

.tlLeft {
    text-align: left;
}

.c-select {
    position: relative;
    min-width: 50px;
}

/*.c-select .c-select-gray {
    border-radius: 4px;
    line-height: 32px;
    border: solid 1px #2291e0;
    height: 32px;
    padding-left: 10px;
    background: url("../../images/icon/select_arrow.png") no-repeat center right 12px;
    cursor: pointer;
}*/

.c-select .c-select-gray:focus {
    border: 1px solid #2370e4;
}

/*.c-select .c-select-white {
    border: 1px solid #c6c6c6;
    height: 42px;
    width: 100%;
    border-radius: 21px;
    line-height: 42px;
    padding-left: 30px;
    background: url("../../images/icon/select_arrow.png") no-repeat 16px;
    background-color: #fff;
}*/

.c-select .c-select-white:focus {
    border: 1px solid #3493EF;
}

.c-select .c-option-box {
    position: absolute;
    display: none;
    min-width: 100%;
    z-index: 1;
    -webkit-box-shadow: 0 3px 2px 2px #ccc;
    box-shadow: 0 3px 2px 2px #ccc;
    background: #fff;
    max-height: 280px;
    overflow: auto !important;
}

.c-select .c-option-box .c-option {
    padding-left: 30px;
    padding-right: 20px;
    word-break: keep-all;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
}

.c-select .c-option-box .c-option:hover {
    background-color: #E4E7EB;
}

.c-select .c-ztree-list {
    position: absolute;
    display: none;
    min-width: 100%;
    z-index: 1;
    -webkit-box-shadow: 0 3px 2px 2px #ccc;
    box-shadow: 0 3px 2px 2px #ccc;
    background: #fff;
    max-height: 280px;
    overflow: auto !important;
}

.c-select .c-option-graytop {
    top: 33px;
}

.c-select .c-option-whitetop {
    top: 43px;
}

input.radioSelect {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: solid 1px #8aa0c5;
}

input.radioSelect[type="radio"]:checked:after {
    display: block;
    content: "";
    width: 10px;
    height: 10px;
    background-color: #2291e0;
    border: solid 1px #2391e0;
    border-radius: 50%;
    margin: 2px auto;
}

input.checkboxSelect {
    width: 18px;
    height: 18px;
    border: solid 1px #e1e5f1;
}

input.checkboxSelect[type="checkbox"]:checked:after {
    display: block;
    content: "";
    width: 8px;
    height: 8px;
    background-color: #2370e4;
    margin: 4px auto;
}

input.tableCheckbox {
    width: 14px;
    height: 14px;
    border: solid 1px #319eeb;
}

input.tableCheckbox[type="checkbox"]:checked:after {
    display: block;
    content: "";
    width: 8px;
    height: 8px;
    background-color: #2370e4;
    margin: 2px auto;
}

.c-button-1 {
    display: inline-block;
    background: #fff;
    border: 1px solid #e6e6e6;
    padding: 0 20px;
    border-radius: 16px;
    font-size: 14px;
    line-height: 32px;
    min-width: 88px;
    height: 32px;
    text-align: center;
    color: #333;
    cursor: pointer;
}

.c-button-1:hover {
    color: #2370e4;
}

.c-button-1:active {
    color: #2370e4;
}

.c-button-2 {
    display: inline-block;
    background: #2370E4;
    padding: 0 20px;
    border-radius: 16px;
    font-size: 14px;
    line-height: 32px;
    min-width: 88px;
    height: 32px;
    text-align: center;
    color: #fff;
    cursor: pointer;
}

.c-button-2:hover {
    background: #1660cf;
}

.c-button-2:active {
    background: #1660cf;
}

.c-button-3 {
    width: 300px;
    height: 40px;
    line-height: 40px;
    background: #2370E4;
    border-radius: 20px;
    font-size: 14px;
    text-align: center;
    color: #fff;
    cursor: pointer;
}

.c-button-3:hover {
    background: #225DB6;
}

.c-button-3:active {
    background: #225DB6;
}

.c-table-btn1 {
    display: inline-block;
    font-size: 14px;
    width: auto;
    min-width: 56px;
    height: 24px;
    line-height: 24px;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
    background-color: #2cb878;
    border-radius: 4px;
    color: #fff;
}

.c-table-btn2 {
    display: inline-block;
    font-size: 14px;
    width: auto;
    height: 24px;
    background-color: #ff902d;
    border-radius: 4px;
    padding-left: 8px;
    padding-right: 8px;
    line-height: 24px;
    text-align: center;
    color: #fff;
}

.c-table-btn3 {
    display: inline-block;
    padding: 9px 20px;
    font-size: 14px;
    line-height: 14px;
    color: #fff;
    background-color: #319eeb;
    border-radius: 4px;
}

.c-disabled-btn {
    background-color: #ccc;
    cursor: not-allowed;
}

.c-search-button {
    width: 66px;
    height: 32px;
    line-height: 32px;
    background-color: #319eeb;
    border-radius: 4px;
    color: #fff;
    text-align: center;
    cursor: pointer;
}

.c-search-button:hover,
.c-search-button:active {
    color: #fff;
    text-decoration: none;
}

.flex,
#Layer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.flex_hor_center,
#Layer {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.flex_ver_center,
#Layer {
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-grid-row-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.flex_center,
.layer-title-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.flex_around {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.flex_start {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.flex_end,
.layer-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.flex_wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.flex_column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -moz-flex-direction: column;
    flex-direction: column;
}

.flex-1 {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
}

.flex-2 {
    -webkit-box-flex: 2;
    -ms-flex: 2;
    flex: 2;
    -ms-flex-negative: 2;
    flex-shrink: 2;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
}

.flex-3 {
    -webkit-box-flex: 3;
    -ms-flex: 3;
    flex: 3;
    -ms-flex-negative: 3;
    flex-shrink: 3;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
}

.flex-4 {
    -webkit-box-flex: 4;
    -ms-flex: 4;
    flex: 4;
    -ms-flex-negative: 4;
    flex-shrink: 4;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
}

.flex-5 {
    -webkit-box-flex: 5;
    -ms-flex: 5;
    flex: 5;
    -ms-flex-negative: 5;
    flex-shrink: 5;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
}

.flex-6 {
    -webkit-box-flex: 6;
    -ms-flex: 6;
    flex: 6;
    -ms-flex-negative: 6;
    flex-shrink: 6;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
}

.flex-7 {
    -webkit-box-flex: 7;
    -ms-flex: 7;
    flex: 7;
    -ms-flex-negative: 7;
    flex-shrink: 7;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
}

.flex-8 {
    -webkit-box-flex: 8;
    -ms-flex: 8;
    flex: 8;
    -ms-flex-negative: 8;
    flex-shrink: 8;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
}

.flex-9 {
    -webkit-box-flex: 9;
    -ms-flex: 9;
    flex: 9;
    -ms-flex-negative: 9;
    flex-shrink: 9;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
}

.flex-10 {
    -webkit-box-flex: 10;
    -ms-flex: 10;
    flex: 10;
    -ms-flex-negative: 10;
    flex-shrink: 10;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
}

.flex-11 {
    -webkit-box-flex: 11;
    -ms-flex: 11;
    flex: 11;
    -ms-flex-negative: 11;
    flex-shrink: 11;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
}

.flex-12 {
    -webkit-box-flex: 12;
    -ms-flex: 12;
    flex: 12;
    -ms-flex-negative: 12;
    flex-shrink: 12;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
}

/* loading start */

.loading {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 9999;
    background: rgba(242, 242, 242, 0.6);
}

/*.loading div {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 120px;
    margin-top: -60px;
    background: url("../../images/icon/ad_loading.gif") no-repeat center center;
    background-size: 40px 40px;
}*/

/* .loading .bgGif {
width: 1.6rem;
height: 1.46rem;
position: absolute;
top: .3rem;
left: 2rem;
background: url("../../images/other/loading.gif") no-repeat;
background-size: cover;
}
.loading span {
position: absolute;
top: .89rem;
left: 3.6rem;
width: 1.38rem;
height: .31rem;
background: url("../../images/other/loading-text.gif") no-repeat;
background-size: cover;
} */
/* loading end */

.c-no-data {
    display: none;
}

/* layer style start */

#Layer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
}

.layer {
    width: 438px;
    overflow: hidden;
    background-color: #fff;
    z-index: 10000;
    opacity: 0;
    -webkit-animation: layer_show .2s;
    animation: layer_show .2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.layer-title,
.layer-context,
.layer-btn {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.layer-title {
    border-bottom: 1px solid #d5d5d5;
}

.layer-title-text,
.layer-btn {
    width: 100%;
    height: 40px;
    line-height: 40px;
    color: #333;
    font-size: 12px;
}

.layer-context-text {
    display: inline-block;
    width: 360px;
}

.layer-context {
    min-height: 100px;
    padding: 20px;
    font-size: 16px;
}

.layer-context img {
    width: 20px;
    height: 20px;
    vertical-align: top;
    margin-right: 10px;
}

.layer-btn {
    padding-right: 30px;
    border-top: 1px solid #d5d5d5;
}

.layer-btn-a {
    text-decoration: none;
    color: #333;
}

.layer-btn-a:hover {
    color: #3678ff;
}

.layer-btn-a:not(:first-child) {
    /* border-left: 1px solid $borderColor; */
    margin-left: 20px;
}

.layer-mark {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #000;
    opacity: 0.6;
}

@keyframes layer_show {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 0;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}

@-webkit-keyframes layer_show {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 0;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes layer_hide {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 0;
    }
}

@-webkit-keyframes layer_hide {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 0;
    }
}

/* layer style end */
.jericho_tab .tab_pages .jericho_tabs .tab_left .tab_text {
    text-align: center;
    text-indent: 2px;
    width: 100px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: top;
}

/*layer-start*/
.Layer-selected-alert {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
}

.layer-mark-alert {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #000000;
    opacity: 0.6;
}

.selected-alert {
    min-width: 297px;
    height: 185px;
    background-color: #ffffff;
    position: absolute;
    left: 35%;
    top: 35%;
    border-top: 3px solid #2b65c1;
}

.selected-alert.show {
    animation: layer_show .3s;
    -webkit-animation: layer_show .3s;
}

.selected-alert.hide {
    animation: layer_hide .3s;
    -webkit-animation: layer_hide .3s;
}

.selected-title-alert {
    text-align: center;
    height: 85px;
    padding: 0 20px;
}

.selected-btn-alert {
    height: 100px;
}

.selected-btn-alert a {
    width: 102px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 4px;
    border: solid 1px #119a49;
}

.continue {
    color: #119a49;
    background: #ffffff;
}

.look {
    background-color: #119a49;
    text-align: center;
    margin-left: 10px;
    color: #ffffff;
}

/*.close-alert {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    background: url("../icon/close-tool.png") no-repeat center;
    width: 12px;
    height: 12px;
}

.chooseA-alert {
    background: url("../icon/choose.png") no-repeat;
    background-size: contain;
    padding-left: 25px;
}

.chooseB-alert {
    background: url("../icon/back.png") no-repeat;
    background-size: contain;
    padding-left: 25px;
}*/

.c-sure {
    background-color: #119a49;
    color: #ffffff;
}

/*layer-end*/

/*Tips-start*/
.el-message {
    min-width: 380px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: #ebeef5;
    position: fixed;
    left: 50%;
    top: 20px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: #edf2fc;
    -webkit-transition: opacity .3s, -webkit-transform .4s;
    transition: opacity .3s, -webkit-transform .4s;
    transition: opacity .3s, transform .4s;
    transition: opacity .3s, transform .4s, -webkit-transform .4s;
    padding: 15px 15px 15px 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 4px;
    overflow: hidden
}

.el-message-fade-enter {
    opacity: 0;
    -webkit-transform: translate(-50%, -100%);
    transform: translate(-50%, -100%)
}

.tips-result {
    padding: 0;
    font-size: 14px;
    line-height: 1;
    outline-width: 0
}

.error {
    background-color: #fef0f0;
    border-color: #fde2e2;
    color: #f56c6c;
}

.success {
    color: #67c23a;
    background-color: #f0f9eb;
    border-color: #e1f3d8;
}

.warning {
    background-color: #fdf6ec;
    border-color: #faecd8;
    color: #e6a23c;
}

/*Tips-end*/
